@using PagedList.Mvc
@model PagedList.IPagedList<ShopTrongGo.Models.DichVu>
@{
    ViewBag.Title = "AllServices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="top">
    <div class="left"></div>
    <div class="center">
        <h1>Dịch Vụ</h1>
    </div>
</div>
<div class="middle" style="padding:0px;">
    <div class="list">
        @foreach (var dichVu in Model)
        {
            <div class="DichVu">
                <div class="AnhDaiDien">
                    <a href="~/News/DetailServices/@dichVu.DichVuID"></a>
                </div>
                <p><a href="~/News/DetailServices/@dichVu.DichVuID"></a>@dichVu.TenDichVu</p>
                <p> Ngày đăng: @dichVu.NgayDang</p>
                <p>@dichVu.MieuTaNgan</p>
                <p><a href="~/News/DetailServices/@dichVu.DichVuID">Chi tiết</a></p>
            </div>
        }
        @Html.PagedListPager(Model, page => Url.Action("AllServices", new { page = page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
    </div>
</div>
        }

