@{
    ViewBag.Title = "Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="top">
    <div class="left"></div>
    <div class="center">
        <h1>Về chúng tôi</h1>
    </div>
</div>
<div class="middle" style="padding:0px;">
    <div class="list">
        <p>Chào mừng các bạn đến với web site của chúng tôi để mua sắp. Chúc bạn có những giờ phút vui vẻ....</p>
    </div>
</div>