@model ShopTrongGo.Models.TaiKhoan
@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="top">
    <div class="left"></div>
    <div class="center">
        <h1>Cấp lại mật khẩu</h1>
    </div>
</div>
<div class="middle" style="padding:0px;">
    <div class="list">
        @using (Html.BeginForm("ForgotPass","Account",FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset style="width: 500px; margin-top: 20px; margin-top: 20px; margin-left: 60px;">
                    <h3>bạn vui lòng nhập email của bạn vào đây để được cấp lại mật khẩu</h3> <br/>
                Email <br/>
                @Html.TextBoxFor(m => Model.Email)
                    <input type="submit" value="Gửi" style="width: 90px; height: 34px; cursor: pointer;" />
            </fieldset>

        }
    </div>
</div>
