@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="top">
    <div class="left"></div>
    <div class="center">
        <h1>Cấp lại mật khẩu</h1>
    </div>
</div>
<div class="middle" style="padding:0px;">
    <div class="list">
        @using (Html.BeginForm("ForgotPass", "Account", FormMethod.Post))
        {
            <table>
                <tr>
                    <td>Tên đăng nhập:</td>
                    <td>@Html.TextBox("txtUserName")</td>
                </tr>
                <tr>
                    <td>Mật khẩu mới:</td>
                    <td>@Html.TextBox("txtPass")</td>
                </tr>
                <tr>
                    <td>Nhập lại mật khẩu:</td>
                    <td>@Html.Password("txtRePass")</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Reset mật khẩu" id="btnResetPass" name="ResetPass"/>
                    </td>
                </tr>
            </table>
        }
    </div>
    </div>

