@{
    ViewBag.Title = "Đổi mật khẩu thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="top">
    <div class="left"></div>
    <div class="center">
        <h1>Đổi mật khẩu thành công</h1>
    </div>
</div>
<div class="middle" style="padding:0px;">
    <div class="list">
        <p> Chúc mừng bạn đã đổi mật khẩu tài khoản thành công. Bằng tài khoản của mình quý khách có thể mua hàng trong website.</p>
        <p>@Html.ActionLink("Bấm vào đây", "Index", "Home", null, null) để quay trở lại trang chủ!</p>
    </div>
</div>
