@using ShopTrongGo.Models
<div class="box">
    <div class="top">Dịch vụ</div>
    <div id="category" class="middle">
        <ul>
            @{
                var list = ((List<DichVu>)ViewBag.MenuService);
                if (list != null)
                {
                    foreach (var item in list)
                    {
                        <li><a href="~/News/DetailServices/@item.DichVuID">@item.TenDichVu</a></li>
                    }
                }
            }
        </ul>
    </div>
</div>