
<div class="copyright">
    Copyright © 2014
    <a href="#" style="font-size: 12px;">Thùng gỗ đựng rượu, thùng gỗ pallet, thùng rượu gỗ sồi, Trống gỗ, Trống rượu, Nội Thất Hoàng Gia</a>
    <p>
        <span style="font-size:12px;">

            <span style="color:#000080;">
                <font face="arial"><b><i>Văn Phòng: Văn Trì - Bắc Từ Liêm - Hà Nội</i></b></font><br style="font-family: Arial, Helvetica, sans-serif; ">
            </span> <span style="color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; "><strong><span style="color: rgb(0, 0, 205); "><span style="font-family: Arial, Helvetica, sans-serif; ">Home:<span _fck_bookmark="1" style="display: none;">&nbsp;</span></span> </span></strong></span>
        </span>
        <span style="font-size:12px;">
            <span style="color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; ">
                <strong>
                    <span style="color: rgb(0, 0, 205); ">
                        <span style="font-family: Arial, Helvetica, sans-serif; ">
                            04 6687.4066 - Hotline: 0165.5995.329<br>
                        </span>
                    </span>
                </strong><strong style="font-family: Arial, Helvetica, sans-serif; ">Email: hoangminhkhmt2k6@gmail.com </strong>
            </span>
        </span>
    </p>
    <p>
        <em><strong>Website: &nbsp;<a href="http://www.thunggo.com">www.thunggo.com</a></strong></em>
    </p>

</div>


<div class="pageview">
    <table width="100%" style="margin-bottom: 10px;">
        <tr>
            <td><b>Tổng lượng truy cập : </b></td>
            <td>
                <span style="color:#F00;font-weight:Bold">
                    1402927
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <b>Số khách đang xem &nbsp;: </b>
            </td>
            <td>
                <span style="color:#F00;font-weight:Bold">
                    3
                </span>
            </td>
        </tr>
    </table>
    <a href="#" style="font-size: 13px;">Thiết kế bởi Trung Đức-Đắc Nam-Hoàng Minh</a>
</div>
