@using ShopTrongGo.Models
<div class="box">
    <div class="top">Dịch vụ</div>
    <div id="category" class="middle">
        <ul>
            @*@{
                var list = ((List<LoaiSanPham>)ViewBag.MenuService);
                if (list != null)
                {
                    foreach (var item in list)
                    {
                        <li><a href="#">@item.TenLoaiSp</a></li>
                    }
                }
            }*@

            <li><a href="#">L&agrave;ng nghề l&agrave;m trống</a></li>
                <li><a href="#">gi&aacute; chậu ng&acirc;m ch&acirc;n bằng gỗ</a></li>
                <li><a href="~/mau-bon-tam-go-dep.html">mẫu bồn tắm gỗ đẹp</a></li>
                <li><a href="~/Ngua-keo-xe-ruou-chao-xuan-Giap-Ngo.html">Ngựa k&eacute;o xe rượu ch&agrave;o xu&acirc;n Gi&aacute;p Ngọ</a></li>
                <li><a href="~/Huong-dan-dat-hang.html">Hướng dẫn đặt h&agrave;ng</a></li>
                <li><a href="~/Dong-thung-go-ha-noi.html">Đ&oacute;ng th&ugrave;ng gỗ h&agrave; nội</a></li>
                <li><a href="~/Co-so-san-xuat-bom-ruou.html">Cơ sở sản xuất bom rượu</a></li>
                <li><a href="~/mua-trong-o-dau.html">mua trống ở đ&acirc;u</a></li>
                <li><a href="~/Mau-tu-ruou-dep-bang-go-sang-trong-phong-khach.html">Mẫu tủ rượu đẹp bằng gỗ sang trọng ph&ograve;ng kh&aacute;ch</a></li>
                <li><a href="~/Mua-tu-ruou-o-dau.html">Mua tủ rượu ở đ&acirc;u?</a></li>
                <li><a href="~/Gia-bon-tam-go-tai-co-so-san-xuat-hoang-gia.html">Gi&aacute; bồn tắm gỗ tại cơ sở sản xuất ho&agrave;ng gia</a></li>
                <li><a href="~/Cua-hang-ban-trong-go.html">Cửa h&agrave;ng b&aacute;n trống gỗ</a></li>
                <li><a href="~/Cong-ty-san-xuat-thung-ruou-go-soi.html">C&ocirc;ng ty sản xuất th&ugrave;ng rượu gỗ sồi</a></li>
                <li><a href="~/Co-so-san-xuat-trong-chua.html">Cơ sở sản xuất trống ch&ugrave;a</a></li>
                <li><a href="~/Ban-buon-ban-le-trong-ruou-bom-ruou.html">B&aacute;n bu&ocirc;n b&aacute;n lẻ trống rượu, bom rượu</a></li>
                <li><a href="~/Thiet-ke-bar-ruou-ham-ruou-dep.html">Thiết kế bar rượu, hầm rượu đẹp</a></li>
                <li><a href="~/Binh-ruou-dep-chao-xuan-giap-ngo-2014.html">B&igrave;nh rượu đẹp ch&agrave;o xu&acirc;n gi&aacute;p ngọ 2014</a></li>
                <li><a href="~/Trong-ngua-doi-2-cao-boi.html">Trống ngựa đ&ocirc;i 2 cao bồi</a></li>
                <li><a href="~/Go-soi-va-ruou-vang.html">Gỗ sồi v&agrave; rượu vang</a></li>
                <li><a href="~/Qua-trinh-lam-thung-ruou-go-soi.html">Qu&aacute; tr&igrave;nh l&agrave;m th&ugrave;ng rượu gỗ sồi</a></li>
                <li><a href="~/Trong-cai.html">Trống c&aacute;i</a></li>
        </ul>
    </div>
</div>