<div id="search">
    @using (Html.BeginForm("SearchProducts", "Product", FormMethod.Post))
    {
        <table style="border:0px;">
            <tr>
                <td>
                    <input style="color: #A09999; border-radius: 5px; height: 25px; width: 170px; margin: -4px 0px 0px 0px; " class="text" name="seach" value="Nhập từ khóa" id="keyword" onblur=" if (this.value == '') this.value = 'Nhập từ khóa'; " onfocus=" if (this.value == 'Nhập từ khóa') this.value = ''; " />
                </td>
                <td>
                    <input class="button_search" type="submit" value="Tìm kiếm" />
                </td>
            </tr>
        </table>
    }
</div>