@using ShopTrongGo.Models
<div class="box">
    <div class="top"><a href="~/Product/ProductFeatured" class="top">Sản phẩm nổi bật</a></div>
    <div class="middle" style="padding:0px;">
        <div style=" width: 130px; margin: auto; float: right;padding: 5px 0px 5px 5px;">
            <a href="~/Product/ProductFeatured" class="btnCart">Xem thêm>></a>
        </div>
        @{
            var list = (List<SanPham>)ViewBag.ProductFeatured;
            if (list != null)
            {
                foreach (var sanPham in list)
                {
                    <div class="spNoiBat">
                        <a href="~/Product/Details/@sanPham.SanPhamID"><img style="border:1px solid #ddd; max-height: 130px; max-width: 130px;" src="~/image/cache/data/@sanPham.AnhDaiDien" title="@sanPham.TenSp" alt="@sanPham.TenSp" /></a><br />
                        <a href="~/Product/Details/@sanPham.SanPhamID">@sanPham.TenSp</a><br />
                    </div>
                   
                }
            }
        }
    </div>
</div>
