@using ShopTrongGo.Models
<div class="box">
    <div class="top"><a href="~/Product/ProductFeatured">Sản phẩm nổi bật</a></div>
    <div class="middle" style="padding:0px;">
        @{
            var list = (List<SanPham>)ViewBag.ProductFeatured;
            if (list != null)
            {
                foreach (var sanPham in list)
                {
                    <div class="spNoiBat">
                        <a href="~/Product/Details/@sanPham.SanPhamID"><img style="border:1px solid #ddd;" src="~/image/cache/data/tu-ruou/turuou-hg-128x128.jpg" title="@sanPham.TenSp" alt="@sanPham.TenSp" /></a><br />
                        <a href="~/Product/Details/@sanPham.SanPhamID">@sanPham.TenSp</a><br />
                    </div>
                }
            }
        }
    </div>
</div>
