<div class="box">
    <div class="top">Sản phẩm nổi bật</div>
    <div class="middle" style="padding:0px;">
        <div class="spNoiBat">
            <a href="~/440-Tu-ruou-15A.html"><img style="border:1px solid #ddd;" src="~/image/cache/data/tu-ruou/turuou-hg-128x128.jpg" title="Tủ rượu 15A" alt="Tủ rượu 15A" /></a><br />
            <a href="~/440-Tu-ruou-15A.html">Tủ rượu 15A</a><br />
        </div>
        <div class="spNoiBat">
            <a href="~/439-Tu-ruou-H01.html"><img style="border:1px solid #ddd;" src="~/image/cache/data/thung-ruou-trang-tri/ham-ruou-giadinh-128x128.jpg" title="Tủ rượu H01" alt="Tủ rượu H01" /></a><br />
            <a href="~/439-Tu-ruou-H01.html">Tủ rượu H01</a><br />
        </div>
        <div class="spNoiBat">
            <a href="~/438-Ban-thung-go-trang-tri-12.html"><img style="border:1px solid #ddd;" src="~/image/cache/data/thung-ruou-trang-tri/thung-ruou-112tt-128x128.jpg" title="B&agrave;n th&ugrave;ng gỗ trang tr&iacute; 12" alt="B&agrave;n th&ugrave;ng gỗ trang tr&iacute; 12" /></a><br />
            <a href="~/438-Ban-thung-go-trang-tri-12.html">B&agrave;n th&ugrave;ng gỗ trang tr&iacute; 12</a><br />
        </div>
        <div class="spNoiBat">
            <a href="~/440-Tu-ruou-15A.html"><img style="border:1px solid #ddd;" src="~/image/cache/data/tu-ruou/turuou-hg-128x128.jpg" title="Tủ rượu 15A" alt="Tủ rượu 15A" /></a><br />
            <a href="~/440-Tu-ruou-15A.html">Tủ rượu 15A</a><br />
        </div>
        <div class="spNoiBat">
            <a href="~/439-Tu-ruou-H01.html"><img style="border:1px solid #ddd;" src="~/image/cache/data/thung-ruou-trang-tri/ham-ruou-giadinh-128x128.jpg" title="Tủ rượu H01" alt="Tủ rượu H01" /></a><br />
            <a href="~/439-Tu-ruou-H01.html">Tủ rượu H01</a><br />
        </div>
        <div class="spNoiBat">
            <a href="~/438-Ban-thung-go-trang-tri-12.html"><img style="border:1px solid #ddd;" src="~/image/cache/data/thung-ruou-trang-tri/thung-ruou-112tt-128x128.jpg" title="B&agrave;n th&ugrave;ng gỗ trang tr&iacute; 12" alt="B&agrave;n th&ugrave;ng gỗ trang tr&iacute; 12" /></a><br />
            <a href="~/438-Ban-thung-go-trang-tri-12.html">B&agrave;n th&ugrave;ng gỗ trang tr&iacute; 12</a><br />
        </div>
        <div class="spNoiBat">
            <a href="~/440-Tu-ruou-15A.html"><img style="border:1px solid #ddd;" src="~/image/cache/data/tu-ruou/turuou-hg-128x128.jpg" title="Tủ rượu 15A" alt="Tủ rượu 15A" /></a><br />
            <a href="~/440-Tu-ruou-15A.html">Tủ rượu 15A</a><br />
        </div>
        <div class="spNoiBat">
            <a href="~/439-Tu-ruou-H01.html"><img style="border:1px solid #ddd;" src="~/image/cache/data/thung-ruou-trang-tri/ham-ruou-giadinh-128x128.jpg" title="Tủ rượu H01" alt="Tủ rượu H01" /></a><br />
            <a href="~/439-Tu-ruou-H01.html">Tủ rượu H01</a><br />
        </div>
        <div class="spNoiBat">
            <a href="~/438-Ban-thung-go-trang-tri-12.html"><img style="border:1px solid #ddd;" src="~/image/cache/data/thung-ruou-trang-tri/thung-ruou-112tt-128x128.jpg" title="B&agrave;n th&ugrave;ng gỗ trang tr&iacute; 12" alt="B&agrave;n th&ugrave;ng gỗ trang tr&iacute; 12" /></a><br />
            <a href="~/438-Ban-thung-go-trang-tri-12.html">B&agrave;n th&ugrave;ng gỗ trang tr&iacute; 12</a><br />
        </div>
        <div class="spNoiBat">
            <a href="~/440-Tu-ruou-15A.html"><img style="border:1px solid #ddd;" src="~/image/cache/data/tu-ruou/turuou-hg-128x128.jpg" title="Tủ rượu 15A" alt="Tủ rượu 15A" /></a><br />
            <a href="~/440-Tu-ruou-15A.html">Tủ rượu 15A</a><br />
        </div>
        <div class="spNoiBat">
            <a href="~/440-Tu-ruou-15A.html"><img style="border:1px solid #ddd;" src="~/image/cache/data/tu-ruou/turuou-hg-128x128.jpg" title="Tủ rượu 15A" alt="Tủ rượu 15A" /></a><br />
            <a href="~/440-Tu-ruou-15A.html">Tủ rượu 15A</a><br />
        </div>
        <div class="spNoiBat">
            <a href="~/440-Tu-ruou-15A.html"><img style="border:1px solid #ddd;" src="~/image/cache/data/tu-ruou/turuou-hg-128x128.jpg" title="Tủ rượu 15A" alt="Tủ rượu 15A" /></a><br />
            <a href="~/440-Tu-ruou-15A.html">Tủ rượu 15A</a><br />
        </div>
        <div class="spNoiBat">
            <a href="~/440-Tu-ruou-15A.html"><img style="border:1px solid #ddd;" src="~/image/cache/data/tu-ruou/turuou-hg-128x128.jpg" title="Tủ rượu 15A" alt="Tủ rượu 15A" /></a><br />
            <a href="~/440-Tu-ruou-15A.html">Tủ rượu 15A</a><br />
        </div>
        <div class="spNoiBat">
            <a href="~/440-Tu-ruou-15A.html"><img style="border:1px solid #ddd;" src="~/image/cache/data/tu-ruou/turuou-hg-128x128.jpg" title="Tủ rượu 15A" alt="Tủ rượu 15A" /></a><br />
            <a href="~/440-Tu-ruou-15A.html">Tủ rượu 15A</a><br />
        </div>
        <div class="spNoiBat">
            <a href="~/440-Tu-ruou-15A.html"><img style="border:1px solid #ddd;" src="~/image/cache/data/tu-ruou/turuou-hg-128x128.jpg" title="Tủ rượu 15A" alt="Tủ rượu 15A" /></a><br />
            <a href="~/440-Tu-ruou-15A.html">Tủ rượu 15A</a><br />
        </div>
    </div>
</div>
